*{
    padding: 0px;
    margin: 0px;
}

.Pai-Alunoindividual{
    height: 100vh;
    width: 100vw;
    background-color: #FFE4E1;

}



.alunoinfos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60vh;
    margin-top: 20px;
}

.informacoes-alunoindividual{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    font-size: 30px;
   
}

.aluno1{
    height: 300px;
}

.imagem-aluno{
    background-color: white;
    border-radius: 20px;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  5px 5px 5px  rgb(138, 138, 138);
    margin: 20px    ;
}


.lista-alunoindividual{
    margin-top: 20px;
    margin-bottom: 20px;
}

.botoes-alunosindividuais{
    flex-direction: row;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    
}

.botao-aluno{
    height: 50px;
    width: 190px;
    background-color: #FF3E3E;
    font-size: large;
    color: white;
    border: none;
    border-radius: 20px;
}

.ocorrencias{
    background-color: #AD3333;
    height: 25vh;
    width: 95vw;
    border-radius: 20px;
}

.bege-aluno1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.ocorrencias-texto{
    color: white;
    font-size: larger;
    margin: 10px;

}