.pai-home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.vermelho-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #AD3333;
    height: auto;
    width: 100%;
    color:white;
}

.bege-home{
    background-color: #ffe4e1;
    height: 80%;
}

.logosenai-home{
    width: 25%;
    margin-top: 12px;
}

.icon-home{
    width: 4.8%;
    margin-top: 12px
}

.icon-home-div{
    display: flex;
    flex-direction: row;
    justify-content: end;

}


.inputprincpal-home{
    width: 33%;
    height: 30%;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    background-color: #ffe4e1;
    margin-bottom: 30px
}

.subtitulo-home{
    margin-bottom: 12px;
}


.imagetroll{
    width: 5%;
    user-select: none;
}

.vemelho-home2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AD3333;
    height: auto;
    width: auto;
    color:white;
}

.cards-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.card1, .card2, .card3{
    display: flex;
    flex-direction: column;
    border-radius: 10px ;
    width: 21vw;
    height: 22vw;

}

.card1-branco, .card2-branco, .card3-branco{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card1-vermelho, .card2-vermelho, .card3-vermelho{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 14vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card1-vermelho, .card3-vermelho{
    background-color: #FF3E3E;
}

.card2-vermelho{
    background-color: #781B1B;
}

.idevicon, .ielecicon, .imecicon{
    width: 32%;
}
