.vermelho-alunos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #AD3333;
    height: auto;
    color:white;
}


.pai-alunos{
    height: 100%;
}

.logo-idev{
    height: 70px;
}

.bege-alunos{
    background-color: #FFE4E1;
    height: 85%;
    position: absolute;
    width: 100%;
}

.icon-login{
    width: 4.8%;
    cursor: pointer;
}

.cards-alunos{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
}

.linha1-alunos, .linha2-alunos, .linha3-alunos, .linha4-alunos{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


