.header-navbar{
    display:flex;
    flex-direction: row;
    background-color: #781B1B;
    width: 100vw;
    justify-items: start;
    align-items: center;
    height: 35px;
    color:white;

    & h3{
        margin-left: 20px;
    }
}

.titulonavbar{
    user-select: none;
}

.textonavbar{
    margin-left: 50px;
    color:aliceblue;
    text-decoration: none;
}