*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.pai{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.vermelho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AD3333;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
}

.logosenai{
    width: 40vw;
}

.branco{
    background-color: #ffe4e1;
    width: 50vw;
}

h1{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.titulosinput{
    font-weight: bold;
    width: 70%;
    font-size: x-large;
    margin-top: 5%;
}

.inputprincpal{
    width: 70%;
    height: 5%;
    border-radius: 20px;
    border: none;
}

.lembre{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.entrar{
    flex-direction: column;
    display: flex;
    width: 70%;
    height: 9%;
    margin-top: 4%;
}

.botao{
    background-color: red;
    width: 100%;
    height: 70%;
    border-radius: 30px;
    color: white;
    font-size: large;
}

.inscrevase{
    display: flex;
    width: 70%;
}

.logochave{
    width: 26vw;
}

